* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #333;
}
svg {
  background: rgba(254, 254, 254, 0.2);
  border: 1px solid lightskyblue;
  border-radius: 15px;
  box-shadow: 0 0 25px white;
}
#title,
#description {
  font-family: Georgia, "Times New Roman", Times, serif;
}
#title {
  font-size: 2em;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 800;
  text-shadow: 0 0 10px black;
}
#description {
  font-size: 1.25em;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 800;
  text-shadow: 0 0 5px black;
}
#legend {
  font-size: 1em;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-shadow: 0 0 5px black;
}
#tool-box {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #333;
  text-shadow: 0 0 10px whitesmoke;
  border: 1px solid #444;
  border-radius: 4px;
  box-shadow: 0 0 10px white, 0 0 10px #333;
}
